html {
	background: url(./images/carnival_amusement_park_setting.png);
	background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
	color: #00f;
	text-align: center;
}

p {
	color: #05f;
	text-align: center;
	padding-top: -20px;
}

table {
	margin: auto;
	position: relative;
}

td {
	border: 1px #000 solid;
	background-color: #B4EAF6;
	color: #00f;
	height: 80px;
	width: 90px;
	padding: 10px;
	border-radius: 25px;
	white-space: pre-line;
	font-size: 0.9em;
}

#guessing {
	padding: 5px;
	margin: 25px auto 25px;
	width: 200px;
	display: block;
	font-size: 1.5em;
}

.button {
	background-color: #bfefff;
	color: #000;
	font-size: 1.25em;
	border-radius: 30%;
	text-align: center;
}

#message {
	font-weight: bold;
	color: red;
	font-size: 1.4em;
	display: inline-block;
	background-color: #B4EAF6;
}

img {
	display: none;
	height: 300px;
	width: 300px;
}

